<!DOCTYPE html>
<html>
  <head>
    <title>MeteoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <%= stylesheet_pack_tag "application", media: "all", "data-turbo-track": "reload" %>

    <%= javascript_pack_tag "application" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
